@import './fonts.css';
@import './tailwind.css';
@import './theme.css';
@layer utilities {
  /* Hides standard cross-browser view scrollbars dynamically */
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}